main {
    height: 100vh;
    min-width: 100vh;
    flex: 1;
    display: flex;
    background-size: 130% auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("media/Sheikah.png");
}

.list {
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(6, 154, 152);
    background-color: #eeeeee;
    cursor: pointer;
    padding: 60px;
    width: 100%;
    border: #333 solid thick;
    border-radius: 5em;
    text-align: center;
    outline: none;
}

.active, .list:hover {
    background-color: #ccc;
  }

h {
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(9, 98, 161);
}